@tailwind base;
@tailwind components;
@tailwind utilities;
/* Signup as Page */

.signupas{
    margin-top: 20px;
}

/* Login Page */
.login{
    background-color: rgb(255 255 255);
    padding: 32px;
    width: 384px;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

}
/* Take a snap Pagew */
li{
    list-style: none;
}