<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>First Page</title>
</head>
<body class="bg-gray-100 font-Caveat">
    <!-- comapnay-logo and caompnay Name -->
    <div class="text-center py-4">
        <img src="logo.png" alt="Company Logo" class="w-16 h-16 mx-auto mb-2">
        <h1 class="text-lg font-bold uppercase tracking-wider">Paddavi</h1>
    </div>
    <!-- navbar -->
    <div class="border-b-2 border-gray-300 mb-4 pl-6" id="nav-bar">
        <nav class="flex justify-left space-x-4 py-2">
            <a href="#" class="text-gray-700 hover:text-blue-500 p-3">Home</a>
            <a href="#" class="text-gray-700 hover:text-blue-500 p-3">Features</a>
            <a href="#" class="text-gray-700 hover:text-blue-500 p-3">Login</a>
            <a href="#" class="text-gray-700 hover:text-blue-500 p-3">SignUp</a>
            <a href="#" class="text-gray-700 hover:text-blue-500 p-3">Terms</a>
        </nav>
    </div>
    <!-- main-section -->
    <div class="container mx-auto p-4">
        <div class="flex items-center mb-4">
            <img src="../static/component/exam.png" alt="Main Image" class="h-96 w-96">
            <div class="ml-45">
                <h1 class="text-6xl text-gray-800 ">Ready for your journey?</h1>
                <div class="mt-4 px-15 py-6">
                    <button class="bg-blue-500 text-xl text-white px-7 py-2 rounded mr-10">Login</button>
                    <button class="bg-blue-500 text-xl text-white px-7 py-2 rounded">SignUp</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
