<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/Style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Upcoming Exam</title>
</head>
<body class="bg-gray-100 font-Caveat">
    <!-- Logo and Name -->
    <div class="text-center py-4">
        <img src="logo.png" alt="Company Logo" class="w-16 h-16 mx-auto mb-2">
        <h1 class="text-lg font-bold uppercase tracking-wider">Paddavi</h1>
    </div>
    <!-- navbar -->
    <div class="border-b-2 border-gray-300 mb-4 pl-6" id="nav-bar">
        <nav class="flex justify-left space-x-4 py-2">
            <a href="#" class="text-gray-700 hover:text-blue-500 p-3">Home</a>
            <a href="#" class="text-gray-700 hover:text-blue-500 p-3">Features</a>
            <a href="#" class="text-gray-700 hover:text-blue-500 p-3">Terms</a>
        </nav>
    </div>
     <!-- main-section -->
    <div class="flex mt-1 p-0">
    <!-- left exams buttons -->
        <div class="flex flex-col w-1/4 bg-gray-100 p-6 mr-20">
            <button class="bg-blue-500 text-white py-12 mb-16 rounded-2xl">Upcoming Exams</button>
            <button class="bg-blue-500 text-white py-12 mb-16 rounded-2xl">Previous Exams</button>
           <a href="#" src="abcd" class="text-blue-500 underline">Change password of the account</a>
        </div>
        <!-- Company Oppourtunity cards -->
        <div class="w-3/4 p-2">
            <div class="flex flex-wrap -mx-2">
                <div class="w-4/12 px-4 py-4 mb-4">
                    <div class="bg-white p-10 rounded-xl shadow">
                        <h2 class="text-lg font-semibold mb-2">Smart Kart</h2>
                        <p class="text-gray-700 mb-4">Smart Kart Placement Series</p>
                        <button class="bg-blue-500 text-white px-8 py-2 rounded">Enter</button>
                    </div>
                </div>
                <div class="w-4/12 px-4 py-4 mb-4">
                    <div class="bg-white p-10 rounded-xl shadow">
                        <h2 class="text-lg font-semibold mb-2">Amazon</h2>
                        <p class="text-gray-700 mb-4">Amazon Placement Series</p>
                        <button class="bg-blue-500 text-white  px-8 py-2 rounded">Enter</button>
                    </div>
                </div>
                <div class="w-4/12 px-4 py-4 mb-4">
                    <div class="bg-white p-10 rounded-xl shadow">
                        <h2 class="text-lg font-semibold mb-2">Uber</h2>
                        <p class="text-gray-700 mb-4">Uber Placement Series</p>
                        <button class="bg-blue-500 text-white  px-8 py-2 rounded">Enter</button>
                    </div>
                </div>
                <div class="w-4/12 px-4 py-4 mb-4">
                    <div class="bg-white p-10 rounded-xl shadow">
                        <h2 class="text-lg font-semibold mb-2">Adobe</h2>
                        <p class="text-gray-700 mb-4">Adobe Placement Series</p>
                        <button class="bg-blue-500 text-white  px-8 py-2 rounded">Enter</button>
                    </div>
                </div>
                <div class="w-4/12 px-4 py-4 mb-4">
                    <div class="bg-white p-10 rounded-xl shadow">
                        <h2 class="text-lg font-semibold mb-2">Infosys</h2>
                        <p class="text-gray-700 mb-4">Infosys Placement Series</p>
                        <button class="bg-blue-500 text-white  px-8 py-2 rounded">Enter</button>
                    </div>
                </div>
                <div class="w-4/12 px-4 py-4 mb-4">
                    <div class="bg-white p-10 rounded-xl shadow">
                        <h2 class="text-lg font-semibold mb-2">Linked-In</h2>
                        <p class="text-gray-700 mb-4">Linked-In Placement Series</p>
                        <button class="bg-blue-500 text-white  px-8 py-2 rounded">Enter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
